<!DOCTYPE html>
<html>
  <head>
    <title>Ciudad</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
	<img src="..." class="rounded float-left" alt="...">
<img src="..." class="rounded float-right" alt="...">
  </body>
</html>
